<div class="pagination-bar">

  <div class="pagination-info">

    <span>
      Showing
      <strong>{{ startRecord }}</strong>
      -
      <strong>{{ endRecord }}</strong>
      of
      <strong>{{ totalRecords }}</strong>
    </span>


    <select
      class="page-size-select"
      [ngModel]="pageSize"
      (ngModelChange)="changePageSize($event)"
    >

      <option
        *ngFor="let size of pageSizeOptions"
        [ngValue]="size"
      >
        {{ size }} / page
      </option>

    </select>

  </div>


  <div class="pagination-controls">

    <button
      type="button"
      class="pagination-button"
      [disabled]="currentPage === 1"
      (click)="changePage(currentPage - 1)"
      aria-label="Previous page"
    >
      ‹
    </button>


    <button
      type="button"
      class="pagination-button"
      *ngFor="let page of pages"
      [class.active]="page === currentPage"
      (click)="changePage(page)"
    >
      {{ page }}
    </button>


    <button
      type="button"
      class="pagination-button"
      [disabled]="currentPage === totalPages"
      (click)="changePage(currentPage + 1)"
      aria-label="Next page"
    >
      ›
    </button>

  </div>

</div>